<?php $this->extend('block_searchable'); ?>

<?php $this->block('content'); ?>

<?php if ($this->singleSRC): ?>
    <div class="recipe-image">
        <?php $this->insert('image', $this->singleSRC); ?>
    </div>
    <div class="recipe-info">
        <h1><?= $this->title ?></h1>
        <?php if ($this->subheadline): ?><span class="subheadline"><?= $this->subheadline ?></span><?php endif; ?>
        <?php if (!empty($this->categories)): ?>
            <div class="categories">
                <?php foreach ($this->categories as $category): ?>
                    <span class="category category_<?= $category['alias'] ?>"><?= $category['title'] ?></span>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <?php if ($this->time > 0): ?><span class="recipe-time"><?= $this->time ?></span><?php endif; ?>
        <?php if ($this->ingredients): ?>
            <div class="recipe-ingredients">
                <?php foreach ($this->ingredients as $ingredient): ?>
                    <div class="ingredient ingredient_<?= $ingredient['ingredient']['alias'] ?>">
                        <span class="amount"><?= $ingredient['amount'] ?></span>
                        <span class="unit unit_<?= $ingredient['unit']['alias'] ?>"><?= $ingredient['unit']['title'] ?></span>
                        <span class="title"><?= $ingredient['ingredient']['title'] ?></span>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <?php if ($this->content): ?>
            <div class="recipe-details">
                <?= $this->content ?>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>

<?php $this->endblock(); ?>
